$titleFont: "Tangerine", cursive;
$mainFont: "Lora", serif;
$primaryColor: #4E3E34;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $primaryColor
}

main {
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;

}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {


    h1,
    h2 {
        font-family: $titleFont;
        font-size: 100px;
        text-align: center;
    }

    h2 {
        margin-bottom: 24px;
    }

    span {

        text-align: center;
        background-color: #4E3E34;
        color: white;
        font-size: 60px;
        padding: 16px 24px;
        border-radius: 16px;
    }
}

.right {

    display: flex;
    flex-direction: column;

    .info {
        font-family: $mainFont;
        font-size: 24px;
        border-left: 2px solid $primaryColor;
        padding: 16px;
    }

    p {
        margin-bottom: 10px;
    }

    img {
        height: 180px;
        object-fit: contain;

    }
}

@media (max-width: 767px) {

    main {
        height: max-content;
    }

    .container {
        display: block;
    }

    .title {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;

        h1,
        h2 {
            font-size: 80px;

        }

        span {
            font-size: 40px;

        }

    }

    .right {
        margin: 40px;
        align-items: center;


        .info {
            border: none;
            border-top: 2px solid $primaryColor;

            p {
                font-size: 16px;
            }

            h3 {
                font-size: 18px;
            }
        }
    }
}